<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ActusFilm{% endblock %}</title>
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>Salut à tous, bienvenue sur ActusFilm (rien à voir avec FilmActu pour mon inspiration sur le nom)</h1>
            <h2>Retrouvez une sélection de films et de séries</h2>
            {% for media in medias %}
                <div style="float: left; width: 10%; margin: 10px">
                    <div style="font-weight: bold">{{ media.Name }}</div>
                    <div>{{ media.Synopsis }}</div>
                </div>
            {% endfor %}
        {% endblock %}
    </body>
</html>
